@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Strider: a Dungeon Fighter Experience</h1>
</div>

<img style="border-radius: 8px;"src="/dImages/decrepit.jpg>