@page
@model MonstersModel
@{
    ViewData["Title"] = "Monsters";
}
<!-- sets page header-->
<div class="text-center">
    <h1>Available Monster Foes</h1>
</div>
<!-- creates a select form populated with monsters-->
<form method="post">
    <select name="selectedMonster" asp-items="Model.MonsterList" onchange="this.form.submit()">
        <option value="">-- Select a Monster to view --</option>
    </select>
</form>
<!-- displays monsters info based on selected monster-->
@if (Model.SelectedMonster != null)
{
    <h2>@Model.SelectedMonster.Mon_Type</h2> //displays monster type
    //displays monster description
    <p style="text-align: center;border:2px solid;width:600px;word-wrap: break-word;float:right;font-size:35px;">Description: @Model.SelectedMonster.Mon_Description</p>
    //displays monster image
    <img style="object-fit: contain;"src="/mImages/@Model.SelectedMonster.ImageFileName" alt="@Model.SelectedMonster.Mon_Type" width="500" height="500"
     class="center">
}
