@page
@model PlayModel
@{
    ViewData["Title"] = "Play";
}

<div class="text-center">
    <h1 class="display-4">Strider: A Dungeon Fighter Experience</h1>
</div>

<img style="margin:auto;display:block;" src="/dImages/decrepit.jpg" width="1200" height="300">

<body>
    <p id="Start">
        Choose an adventurer below!    
    </p>

        <form asp-asp-page-handler="mWarrior" method="post">
            <button class="btn btn-default" style="background-color: red;">
                Male Warrior
            </button>
        </form>

        <form asp-asp-page-handler="fWarrior" method="post">
        <button class="btn btn-default" style="background-color: red;">
            Female Warrior
        </button>
        </form>

        <form asp-asp-page-handler="mArcher" method="post">
        <button class="btn btn-default" style="background-color: green;">
            Male Archer
        </button>
        </form>

        <form asp-asp-page-handler="fArcher" method="post">
        <button class="btn btn-default" style="background-color: green;">
            Female Archer
        </button>
        </form>

        <form asp-asp-page-handler="mMage" method="post">
        <button class="btn btn-default" style="background-color: blue;">
            Male Mage
        </button>
        </form>

        <form asp-asp-page-handler="fMage" method="post">
        <button class="btn btn-default" style="background-color: blue;">
            Female Mage
        </button>
        </form>
    
    <br>
    <img id="hero" style="float:left;" src="" width="100" height="100">

    <img style="float:right;" src="m">
    <br>

    <br>
    <p style="text-align: center;">
        Select an Ability to Use:
    </p>

    <div class="controls">
        <button id="A1" style="width:100%;background-color:orangered;">
            Ability 1
        </button>
        <br>

        <br>
        <br><button id="A2" style="width:100%;background-color:orangered;">
            Ability 2
        </button>
        <br>

        <br><div name="combat-log" class="combat-log" readonly id="cLog" cols="30" rows="10">
        </div>
    </div>

</body>