/* styles the navbar-brand class on the html*/
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}



.btn-primary {
  color: rgb(255, 255, 255);
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* styles several classes in the html*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #ffffff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* creates top and bottom borders of the site*/
.border-top {
  border-top: 1px solid #000000;
}
.border-bottom {
  border-bottom: 1px solid #000000;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* styles the footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

